@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Londrina+Shadow|Londrina+Solid:900|Anonymous+Pro:400,700');

.londrina {
	font-family: 'Londrina Solid', cursive;
}

.londrina-outline {
	font-family: 'Londrina Outline', cursive;
}

.londrina-shadow {
	font-family: 'Londrina Shadow', cursive;
}

.londrina-sketch {
	font-family: 'Londrina Sketch', cursive;
}

.poppins {
	font-family: 'Anonymous Pro', sans-serif;
}