@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Anonymous+Pro:400,700');

@font-face {
    font-family: 'hella_vettica';
    src: url('hella_vettica.eot');
    src: url('hella_vettica.eot?#iefix') format('embedded-opentype'),
         url('hella_vettica.woff2') format('woff2'),
         url('hella_vettica.woff') format('woff'),
         url('hella_vettica.ttf') format('truetype'),
         url('hella_vettica.svg#hella_vetticamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font1 {
	font-family: 'Archivo Black', sans-serif;
}

.font2 {
	font-family: 'Anonymous Pro', sans-serif;
}

.londrina {
	font-family: 'Londrina Solid', cursive;
}

.londrina-outline {
	font-family: 'Londrina Outline', cursive;
}

.londrina-shadow {
	font-family: 'Londrina Shadow', cursive;
}

.londrina-sketch {
	font-family: 'Londrina Sketch', cursive;
}