/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  @extend .poppins;
}

h1,h2 {
	@extend .londrina;
}

.navbar-brand {
  width: 120px
}

.navbar ul li {
	& a {color: $color-black}
	margin-right: 1.5em;
}

// Content

.feat-collection {
  -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
  -moz-columns: 100px 3; /* Firefox */
  columns: 100px 3;
}

// Footer

footer {
	padding: 20px
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
