/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}


.top-bar {
  background-color: #161616;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > div {
    margin-left: 10px;
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items:center;
    
    /* top search */
    &:nth-of-type(1) {
      & > form {
        width: 100%;

        & > input {
          @extend .transition;

          height: 38px;
          border: 1px solid white;
          color: white;
          background: transparent;
          border-radius: .25rem;
          padding-left: 15px;

          &::placeholder {
            color: #aaa;
          }

          &:focus {
            outline: none;
          }
          &:hover,
          &:active {
            border: 1px solid rgba(desaturate($color-primary, 20%), 0.33);
            background: rgba(desaturate($color-primary, 33%), 0.33);
          }
        }
      }
    }

    /* top newsletter */
    &:nth-of-type(2) {
      justify-content: space-evenly;
      & > form {
        width: 80%;
      }
    }
  }
  @media only screen and (max-width: 991px) {
    display: none;
  }
}

.btn-search-white {
  @extend .transition;

  color: white !important;
  border: 1px solid white !important;

}
.top-search,
.top-newsletter {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  margin: 1%;
}

.top-form {
  display: flex;
  flex-direction: row;
}

.top-news-input {
  @extend .transition;

  border: 1px solid white;
  background: transparent;
  border-radius: .25rem;
  width: 100%;
  font-family: 'Anonymous Pro', sans-serif;
  padding-left: 10px;
  
  color: white;
  &::placeholder {
    color: #aaa;
  }

  &:hover,
  &:active {
    border: 1px solid rgb(0, 110, 255);
    background: rgba(0, 195, 255, 0.788);
    color: #161616;
    &::placeholder {
      color: #161616;
    }
  }
  &:focus {
    outline: none;
  }
}


// Navbar

.navbar {
  position: fixed;
  // z-index:9;
  z-index: 1000;
  left:0;
  right:0;
  // padding: 0 8%;
  padding: 0 !important;
  display: block !important;

  -webkit-box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  -moz-box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  -ms-box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  -o-box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  background: $color-secondary;
}

.section-links {
  // mobile
  @media only screen and (max-width: 992px) {
    padding-right: 1%;
  }

  // desktop
  @media only screen and (min-width: 992px) {
    width: 100%;
    & > ul {
      width: 100%;
      display: flex;
      position: relative;
      left: 22.5%;
    }
  }
}

.misc-links {
  // position: absolute;
  // right: 9%;

  display: flex;
  flex-direction: row;
  min-width: 551px;
  max-width: 600px;

  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }
  @media only screen and (min-width: 992px) {
    display: none !important;
  }
}

.site-nav {
  // margin-left: 60px;
  // margin-left: 100px;
  
  // @media only screen and (max-width: 991px) {
  //   margin-left: 0;
  // }
}

.navbar-brand {
  width: 120px;
  position: absolute;
  left: 46%;
  top: 0;
  // margin: 0 auto;

  display: block !important;
  // transform: translateY(-50%);
  margin-bottom: -100px;
  z-index: 1000;

  & .st0 {
    @extend .transition;
    fill: $color-yellow;
  }
  & .st1 {
    @extend .transition;
    fill: $color-clay;
  }
  
  @media only screen and (max-width: 991px) {
    // top: 0;
    // top: 20%;
    left: 3%;
    width: 100px;
    margin-bottom: -60px;
    z-index: 100;
  }
  @media only screen and (max-width: 580px) {
    left: 3%;
  }
}

.navbar-brand:hover {
  @extend .wiggle;
  & .st0 {
    @extend .transition;
    fill: $color-teal;
  }
  & .st1 {
    @extend .transition;
    fill: $color-teal;
  }
}

ul#global-menu {
  display: none;
  // padding: 10px 0px 0 0;
  // margin-bottom: 10px;
  
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
  padding: 5px;
  text-decoration: none;

  // fix insta
  &>li:nth-of-type(1) {
    transform:translateY(3px);
  }
  
  @media only screen and (max-width: 991px) {
    display: flex;
    // display: inline-block;
  }
}

.navbar ul li {
  font-family: 'beko', script;
  & a {color: $color-black; font-weight: bold}
  // & a:hover {color: $color-secondary; font-weight: bold}
  & a:hover {color: white; font-weight: bold}
  margin-right: 1.5em;
  padding: 15px 0px;
  display: inline-block;
  @media only screen and (max-width: 991px) {
    font-family: 'beko', script;
    margin-right: 1.5em;
    padding: 15px 0px;
    display: inline-block;
    margin: 0;
    padding: 0;
    // &:nth-of-type(3) {
      // padding-right: 15px;
    // }
  }
}

li.mobile-search-bar form {
  margin-bottom: 0px !important;
  margin: 0 auto;
  & span {
    display: flex;
    width: 100%;
    & input {
      margin-right: 10px;
    }
  }
}

.datspan {
  width: 100%;
}

input#Search, input#mce-EMAIL {
  @extend .font2;
  width: 70%;
  @media only screen and (max-width: 991px) {
    width: 80%;
  }
}

.form-group {
  width: 100% !important;
}

.mobile-newsletter-signup form div.form-group {
  & .input-group {
    padding: .5rem 0.5rem;
  }
  // width: 100%
  // width: 100vw;
}

.desktop-cart {
  // transform: translate(-10px, -6px);
  min-width: 52px;
  // padding-top: 15px;
  & a,
  & a:visited {
    color: white;
    // border: 3px solid rgba($color-dark, 0.123);
    border: 1px solid white;
    border-radius: 4px;
    @extend .transition;
  }
  & a:hover {
    @extend .transition;
    color: $color-slate;
    // border: 3px solid $color-slate;
    border: 1px solid $color-slate;
    border-radius: 4px;
    background: $color-clay;
  }
}

.cart-link {
  padding-top: 15px !important;
}

.cart-link i {
  font-size: 22px;
  padding: 4px;
}

.form-control:focus {
  border-color: $color-secondary;
}

.badge {
  position: absolute;
  // top: 20px;
  top: 3px;
  border-radius: 50%;
  padding: 6px;
  min-width: 24px;
  margin-left: -10px;

  @media only screen and (max-width: 991px) {
    top: 6px;
    padding: 9px 6px 6px;
    min-width: 26px;
    transform: scale(0.8);
  }
}

.badge-secondary {
  border-radius: 50%;
  background-color: $color-secondary;
  width: 14px;
  height: 13px;
  font-size: 8px;
  position: relative;
  top: -12px;
  left: -14px;
}

.newsletter-banner {
  @extend .transition;
  // transition-timing-function: ease;
  // transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  display: none;
  box-shadow: 1px 0 5px rgba(desaturate($color-primary, 33%), 0.33);
  width: 100%;
  left: 0;
  top: -56px;
  position: fixed;
  z-index: 9;
  background-color: $color-primary-10;
}

.newsletter-banner-image {
  width: 56px;
  margin-left: 10px;
  cursor: pointer;
}

.overhead-centered-form {
  margin: auto;
  position: relative;
  z-index: 10;
}

.custom-overhead {
  padding: .5rem .75rem;
  // width: 100% !important;
  width: 100vw !important;
  // left: 12.5%;
}

.custom-overhead-input {
  line-height: 1.25;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: .25rem !important;
}

#collapseIcon {
  margin-top: 3px;
  // margin-right: -10px;
  margin-right: 5px;
}

#collapseIcon:focus {
  outline: none;
}

.socials a.instagram {
  display: none;
}

#gumbit {
  @extend .transition;
  position: absolute;
  // margin: 0 auto;
  z-index: 99;
  left: 46%;
  width: 75px;
  top: 20px;
  transform: rotate(50deg);
  transition: all 0.33s cubic-bezier(1,-0.59,0,1.68);
  
  @media only screen and (max-width: 991px) {
    // left: 23%;
    // left: 9%;
    left: 3%;
    transform: rotate(52deg);
  }

  @media only screen and (max-width: 580px) {
    left: 3%;
  }
}

#gumbit.popped {
  transition: all 0.66s cubic-bezier(1,.6,.2,1.57);
  margin-left: 73px;
  transform: rotate(65deg);
  
  @media only screen and (max-width: 991px) {
    // margin-left: 10px;
    margin-left: calc(1.5vw+.5%);
  }
}

/*========== MOBILE MENU STYLES ========== */

@media only screen and (max-width: 991px) {
  .navbar-collapse {
   // padding-top: 1vw;
  }

  .navbar-collapse ul {
    text-align: right !important;
    margin-right: 15px !important;
  }

  .navbar-collapse ul li {padding: 0px;}

  .mobile-menu {
    text-align: right !important;
    margin-bottom: -35px !important;
  }

  .align-with-logo {
    margin-top: 0px;
    z-index: 10;
  }

  .mobile-cart {
    margin: 0px !important;
    margin-right: 16px !important;
    display: inline-block !important;
    padding-top: 5px !important;
    display: inline !important;
    margin-top: 5px !important;
  }

  .mobile-cart-upper {
    margin-right: 30px !important;
    padding-top: 1px !important;
    display: inline-block !important;
    margin-top: 5px !important;
  }

  .socials {
    margin: 2px 25px 0 0;
  }

  .socials a.instagram {
    display: block;
  }

  .cart {
    display: none !important;
  }

  .search-form {
    margin-bottom: 21px !important;
    margin-top: 0px !important;
    width: 100vw;
  }
}